<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	<div class="fix-box">
		<div class="w1190">
			<dl>
				<dt>物流快递</dt>
				<dd>
					<a data-type="1" class="details-a-click">全国物流</a>
				</dd>
				<dd>
					<a data-type="2" class="details-a-click">快递查询</a>
				</dd>
				<dd>
					<a data-type="3" class="details-a-click">网点查询</a>
				</dd>
			</dl>
		</div>
	</div>	

	<div id="wp"></div>
	<div id="result-box">
		
	</div>
</body>
<script src="/js/data/logistics.js" type="text/javascript" charset="utf-8"></script>
<script id="tpl" type="text/html">
	<%var DETAILS_URL = '//meibanglai.com/view/matchMessage/';%>
	<div class="select-area">
		<div class="area">
			<img src="/image/public/end.png"><input type="text" id="start" placeholder="出发地" value="广州"><img src="/image/public/start-end.png"><img src="/image/public/start.png"><input type="text" id="end" placeholder="到达地">
			<button id="search" class="btn btn-info" >搜索</button>
			<span class="hidden-xs">只输入一个也可以~</span>
		</div>
	</div>

	
</script>

<script id="result-tpl" type="text/html">
	<%var IMAGE_URL = '//meibanglai.com/image/logistics/';%>
	<%var DEFAULT_IMAGE = IMAGE_URL + 'default.png';%>
	<table class="table">
		<%for (var i = 0; i < data.length; i++) {%>
			<tr class="active">
				<td class="visible-lg col-lg-3">
					<img src="<%:=data[i].logo_url=="" ? DEFAULT_IMAGE : data[i].logo_url%>"/>
				</td>
				<td>
					<span>公司名称：<%:=data[i].company_name%></span>
					<span>地址：<%:=data[i].address%></span>
					<span>联系人：<%:=data[i].principal%></span>
					<span>手机：<%:=data[i].phone%></span>
					<span>发货热线：<%:=data[i].telephone%></span>
					<span>货运市场：<%:=data[i].market%></span>
					<span>出发站：<%:=data[i].start_site%></span>
					<span>到达地：<%:=data[i].end_site%></span>
					<span>发布时间：<%:=formatDate(data[i].updata_time)%></span>
				</td>
			</tr>
		<%}%>
	</table>
	<hr />
</script>
</html>
	